      <!-- <footer class="app_footer">
        <div class="app_footer_left">
          <span class="material-symbols-rounded">work_history</span>
          <span>© 2026 | MagangHub by Kemnaker Batch II Lembaga Pemasyarakatan Kelas IIB Pariaman</span>
        </div>
      </footer> -->