<section class="settings_section spreadsheet_section" id="spreadsheetSection">
            <div class="section_header">
              <div>
                <h2>
                  <span class="material-symbols-rounded">table</span>
                  Data Spreadsheet
                </h2>

                <p>
                  Data berikut ditampilkan langsung dari Google Spreadsheet.
                </p>
              </div>
            </div>

            <div class="sheet_wrapper">
              <iframe 
                src="<%= safeSpreadsheetUrl %>"
                width="100%"
                height="650"
                style="border:0;"
                allowfullscreen>
              </iframe>
            </div>
          </section>
