<footer class="app_footer">
  <div class="app_footer_left">
    <span class="material-symbols-rounded">description</span>
    <span>© <%= new Date().getFullYear() %> SINOSUKE</span>
  </div>

  <div class="app_footer_right">
    <span>
      <%= process.env.APP_SLOGAN || 'Sistem Nomor Surat Keluar Lapas Pariaman.' %>
    </span>
  </div>
</footer>
